********************************************************************************************************************************************
*                                                                                                                                          *
* DRILL TAPE SUMMARY REPORT                                                                                                                *
*                                                                                                                                          *
* D:\SOUND LEVEL METER PROJECT\MO PHONG_SOUND LEVEL METER_V3\SOUND LEVEL METER_OK\BOARD_NOISE LEVEL METER\GERBER\NOISE LEVEL METER-11.MAX  *
* Sat May 03 08:04:47 2014                                                                                                                 *
*                                                                                                                                          *
********************************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      30       200      100                                                                                 
T2       340      95       200      100                                                                                 
T3       380      31       200      100                                                                                 
T4       400      9        200      100                                                                                 
T5       600      8        200      100                                                                                 
T6       700      4        200      100                                                                                 
T7       866      3        200      100                                                                                 
T8       1000     2        200      100                                                                                 
T9       1180     10       200      100                                                                                 
T10      1200     2        200      100                                                                                 
